@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  text-transform: uppercase;
  color: #fff;
}

.app {
  margin: 2vh auto;
  max-width: 100vw;
  height: 96vh;
}

.app-container {
  width: 70vw;
  height: 100%;
  margin: auto;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.app-title {
  font-size: 8vw;
}

.app-sub-title {
  font-size: 2vw;
  color: #15a145;
}
.game-board {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  grid-template-rows: 0.3fr 0.3fr 1fr 1fr 0.3fr;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 100%;
  gap: 0.7rem;
}

.button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.7vw;
  transition: all 0.1s;
}
.button:hover {
  cursor: pointer;
  scale: 0.98;
  background-color: #15a14670;
  border: 2px solid #fff;
}
.button:active {
  cursor: pointer;
  scale: 0.95;
  background-color: #11803770;
  border: 2px solid #fff;
}

.btn-start {
  color: #15a145;
  grid-column: 2/3;
}
.btn-pause {
  color: #b95252;
}

.lives {
  display: flex;
  width: 100%;
  align-items: center;
  grid-column: 3/6;
  grid-row: 2/3;
  font-size: 2.2vw;
}

.live-img {
  width: 2vw;
  height: auto;
  margin-left: 1.2vw;
}
.live-img:hover {
  width: 2.5vw;
  height: auto;
}

.cards {
  grid-row: 3/5;
  grid-column: 1/-1;
  display: grid;
  gap: 0.7rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  perspective: 1000px;
}
.startGame-text {
  grid-row: 3/5;
  grid-column: 1/-1;
  font-size: 3vw;
  text-align: center;
  align-self: center;
  animation: blink 1s infinite;
}
.card {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
  transform-style: preserve-3d;
  border-radius: 10px;
  cursor: pointer;
}

.card.flipped {
  transition: all 0.3s ease-out;

  transform: rotateY(180deg);
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}
.card-front {
  transform: rotateY(180deg);
  background-color: #1575a1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5vw;
  line-height: 0.75;
  overflow-wrap: anywhere;
}

.card-back {
  background-color: #15a145;
  backface-visibility: hidden;
}

.card-back:hover {
  background-color: #0e6b2f;
}

.current-time {
  grid-row: 5/-1;
  grid-column: 1/3;
  justify-self: start;
  font-size: 2.2vw;
}

.best-time {
  grid-row: 5/-1;
  grid-column: 3/-1;
  justify-self: start;
  font-size: 2.2vw;
}

@keyframes blink {
  0% {
    color: #fff;
  }
  50% {
    color: #15a145;
  }
  100% {
    color: #fff;
  }
}
